@charset "UTF-8";

#badgeos-achievements-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.badgeos-achievements-list-item {
	border-bottom: none;
	padding: 0;
}

.badgeos-item-description {
	padding: 10px 0;
}

.badgeos-item-description .badgeos-item-title {
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px;
}

.badgeos-item-description .badgeos-item-excerpt p {
	margin-bottom: 10px;
}

.badgeos-achievements-list-item .badgeos-item-image {
	width: auto;
	padding: 0;
	float: none;
}

.badgeos-percentage {
	display: block;
	background: #585657;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

.badgeos-percentage-bar {
	display: block;
	background: #257a15;
	height: 22px;
}

.badgeos-percentage-number {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 22px;
}